VITE_GOOGLE_CLIENT_ID=704239510255-9qguah5joljke1p6k5480nj1omcc4o47.apps.googleusercontent.com
VITE_DRIVE_INDEX_FILE_ID=<the file ID of _index.json in Drive>
VITE_DRIVE_ROOT_FOLDER_ID=<the folder ID in Shared Drive where SOPs are stored>
